<button (click)="goBack()" class="btn btn-secondary">Back</button>
<div class="room-details-container">
  <h2>Room Details</h2>

  <!-- Display-only section for original data -->
  <div class="original-data">
    <div class="detail">
      <p>Room Name</p>
      <p>{{ originalRoomDetails?.RoomName }}</p>
    </div>
    <div class="detail">
      <p>Capacity</p>
      <p>{{ originalRoomDetails?.Capacity }}</p>
    </div>
    <div class="detail">
      <p>Availability</p>
      <p>{{ originalRoomDetails?.Availability ? 'Available' : 'Not Available' }}</p>
    </div>
  </div>

  <!-- Editable fields for updating data -->
  <div class="edit">
    <div class="edit-data">
        <h3>Edit Room</h3>
        <div class="form-group">
          <input id="roomName" [(ngModel)]="roomDetails.RoomName" name="roomName" class="form-control" placeholder="New Name" required #roomName="ngModel">
          <div *ngIf="roomName.touched && roomName.errors?.['required']" class="alert alert-danger">
            Room name is required.
          </div>
        </div>
        <div class="form-group">
          <input id="capacity" [(ngModel)]="roomDetails.Capacity" name="capacity" type="number" class="form-control" placeholder="New Capacity" required min="1" #capacity="ngModel">
          <div *ngIf="capacity.touched && capacity.errors?.['required']" class="alert alert-danger">
            Capacity is required.
          </div>
        </div>
        <div class="form-group">
          <input type="checkbox" [(ngModel)]="roomDetails.Availability"> Availability
        </div>
        <button (click)="updateRoom()" class="btn btn-primary">Edit</button>
      </div>
  </div>

  <button (click)="deleteRoom()" class="btn btn-danger delete-btn">Delete Room</button>
</div>
