.outerStyle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    gap: 50px;
    background: rgb(74, 74, 74);
}
.connect{
    position: relative;
    background: rgb(128, 128, 128);
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 2em;
    letter-spacing: 0.1em;
    /* font-weight: 400; */
    padding: 10px 30px;
    transition: 0.5s;
}
.connect{
    position: relative;
    background: rgb(128, 128, 128);
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 2em;
    letter-spacing: 0.1em;
    /* font-weight: 400; */
    padding: 10px 30px;
    transition: 0.5s;
}
.connect:hover{
    letter-spacing: 0.25em;
    background: var(--clr);
    box-shadow: 0 0 35px var(--clr);
    color: var(--clr);
}
.connect::before{
    content: '';
    position: absolute;
    inset: 2px;
    background: rgb(45, 45, 45);
}
.connect a{
    position: relative;
    z-index: 1;
}
.connect i{
    position: absolute;
    inset: 0;
    display: block;
}
.connect i::before{
    content: '';
    position: absolute;
    top: -6px;
    left: 100%;
    transform: translateX(-50%);
    width: 10px;
    height: 10px;
    background-color: black;
    border: 2px solid var(--clr);
    transition: 0.5s;
}
.connect:hover i::before{
    left: 0%;
    transform: translateX(-50%) rotate(45deg);
    box-shadow: 40px 39px var(--clr);
}
.connect i::after{
    content: '';
    position: absolute;
    bottom: -6px;
    left: 0%;
    transform: translateX(-50%);
    width: 10px;
    height: 10px;
    background-color: black;
    border: 2px solid var(--clr);
    transition: 0.5s;
}
.connect:hover i::after{
    left: 100%;
    transform: translateX(-50%) rotate(-45deg);
    box-shadow: 40px -39px var(--clr);
}

/* End of initial Styles */


/* Start of Homepage Styles */

/* styles.css or app.component.css */
/* General styling */
/* app.component.scss */

:host {
  display: flex;
  height: 100vh;
  font-family: Arial, sans-serif;
  position: relative;
}
:host::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../assets/HomePage/background.jpeg') no-repeat center center fixed;
  background-size: cover;
  filter: brightness(0.7) blur(5px); /* Adjust the brightness and add blur */
  z-index: -1; /* Place the pseudo-element behind the content */
}

.app-container {
  display: flex;
  height: 100%;
  width: 100%;
}

.sidebar {
  background-color: rgba(12, 12, 12, 0.5); /* Sidebar background color with transparency */
  color: #F2613F; /* Sidebar text color */
  width: 250px;
  padding: 20px;
}

.sidebar .logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5rem;
}

.sidebar .logo img {
  max-width: 10rem;
  margin-bottom: 2rem;
}

.sidebar h1 {
  font-size: 2rem;
  margin: 0;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.sidebar ul li {
  margin: 20px 0;
  text-align: center;
}

.sidebar ul li a {
  color: #F2613F; /* Sidebar link color */
  text-decoration: none;
  font-size: 1.5rem;
  padding: 10px;
  border-radius: 20px;
}

.sidebar ul li a:hover {
  background-color: #481E14;
}

.sidebar ul li.active a {
  background-color: #481E14;
}





.main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.header {
  background-color: rgba(12, 12, 12, 0.5); /* Main content background color with transparency */
  text-align: center;
  padding: 20px;
  color: #F2613F; /* Main content text color */
}

.header p{
  font-size: 3rem;
  margin: 0;
}
.body {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto; /* Enable scrolling for the body content */
}
